.home__image {
  display: flex;
  justify-content: center;
  height: 400px;
}


.home__image img {
  width: 100%;
}

.home__text {
color: white;
display: flex;
justify-content: center;
margin-top: 5rem;
font-size: 32px;
}